{% extends 'gakusei/list-layout.html' %}

    {% block card-title %}Listado de Solvencias por Clases{% endblock %}

    {% block create %}{% endblock %}

    {% block filter-url %}{% url 'solvencias-filter' %}{% endblock %}


    {% block thead %}
        <th>Clase</th>
        <th>N. Estudiantes</th>
        <th></th>
    {% endblock %}

    {% block tbody %}
        {% for clase in object_list %}
            <tr>
                <td>{{clase}}</td>
                <td>{{clase.inscripciones.count}}</td>

                <td class="text-center align-middle"><a href="{% url 'solvencias-clase-detail' clase.id %}"><i class="fs-4 fa-solid fa-eye"></i></a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center fw-bold fst-italic">Sin Registros</td>
            </tr>
        {% endfor %}
    {% endblock %}