{% extends 'gakusei/delete-layout.html' %}

    {% block regresar-url %}{% url 'descuento-especial-detail' object.pk %}{% endblock %}


    {% block card-title %}Desasignar Beca{% endblock %}

    {% block delete-mensaje %}
        <p class="fs-5">¿Seguro que quieres retirar el <span class="fw-bold">Descuento Especial de <i>${{object.descuento}}</i> del Estudiante <i>{{object.estudiante}}</i></span>?</p>
    {% endblock %}


    {% block form %}
        <form action="{% url 'descuento-especial-delete' object.pk %}" method="post"> {%csrf_token%}
            {{ form }}
            <input class="btn btn-lg btn-danger" type="submit" value="ELIMINAR DESCUENTO ESPECIAL">
        </form>
    {% endblock %}