{% extends 'gakusei/edit-layout.html' %}    
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gakusei/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'gakusei/select2/select2-bootstrap-5-theme.min.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'gakusei/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'gakusei/select2/select2.full.min.js' %}"></script>

    <script src="{% static 'gakusei/js/clase/create.js' %}"></script>
{% endblock %}

    {% block regresar-url %}{% url 'clase-detail' clase.pk %}{% endblock %}


    {% block card-title %}Registro de Clase{% endblock %}


    {% block form %}
    <form action="{% url 'clase-edit' clase.pk %}" method="post"> {%csrf_token%}
        {{ form|crispy }}
        <input class="btn btn-lg btn-success" type="submit" value="Guardar Cambios">
    </form>
    {% endblock %}
