{% extends 'gakusei/list-layout.html' %}

    {% block card-title %}Listado de Dias de Clases{% endblock %}

    {% block create-url %}{% url 'asistencia-create' %}{% endblock %}
    {% block create-text %}Registrar Asistencia{% endblock %}

    {% block filter-url %}{% url 'dia-de-clase-filter' %}{% endblock %}

    {% block create-otros %}
        <div class="mb-4">
            <p><a class="btn btn-primary d-block d-md-inline" href="{% url 'dia-de-clase-create' %}">Registrar un Dia de Clase</a>                 <span class="d-none d-md-inline"><i class="fa-regular fa-arrow-left"></i> Registra solamente un Dia de Clase.</span></p>
            <p><a class="btn btn-primary d-block d-md-inline" href="{% url 'asistencia-create-rezagados' %}">Registrar Asistencia de Rezagados</a> <span class="d-none d-md-inline-block mt-2 mt-lg-1 d-lg-inline"><i class="fa-regular fa-arrow-up d-none d-md-inline d-lg-none"></i><i class="fa-regular fa-arrow-left d-none d-lg-inline"></i> Registra Asistencias solamente en Dias ya registrados, un estudinate a la vez.</span></p>
        </div>
    {% endblock %}

    {% block thead %}
        <th>N°</th>
        <th>Clase</th>
        <th>Status</th>
        <th>Fecha</th>
        <th></th>
    {% endblock %}

    {% block tbody %}
        {% for dia in object_list %}
            <tr>
                <td>Clase N° {{dia.numero}}</td>
                <td>{{dia.clase}}</td>
                <td>{{dia.status}}</td>
                <td>{{dia.fecha}}</td>
                <td class="text-center align-middle"><a href="{% url 'dia-de-clase-detail' dia.id %}"><i class="fs-4 fa-solid fa-eye"></i></a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-center fw-bold fst-italic">Sin Registros</td>
            </tr>
        {% endfor %}
    {% endblock %}



