{% extends 'gakusei/list-layout.html' %}

    {% block card-title %}Métodos de Pago{% endblock %}

    {% block create-url %}{% url 'metodos-pago-create' %}{% endblock %}
    {% block create-text %}Registrar Método{% endblock %}

    {% block filter-url %}{% url 'metodos-pago-filter' %}{% endblock %}


    {% block thead %}
        <th>Método</th>
        <th style="width: 10%;"></th>
    {% endblock %}

    {% block tbody %}
        {% for metodo in object_list %}
            <tr>
                <td>{{metodo}}</td>
                <td class="text-center align-middle"><a href="{% url 'metodos-pago-detail' metodo.id %}"><i class="fs-4 fa-solid fa-eye"></i></a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2" class="text-center fw-bold fst-italic">Sin Registros</td>
            </tr>
        {% endfor %}
    {% endblock %}
